<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
    <a href="https://sourceforge.net/projects/sonata.berlios/" target="_blank">
      <img width="250" alt="single_note" src="../assets/MySonata_GM.png"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
          <h2> Here are some usefull players you can try instead of my API </h2>
            <ul>
              <li>
          <h2><a target="_blank" rel="noopener" href="http://www.videolan.org/">VLC</a></h2>
              </li>
              <li>
          <h2><a target="_blank" rel="noopener" href="http://www.winamp.com/">Winamp</a></h2>
              </li>
              <li>
          <h2><a target="_blank" rel="noopener" href="https://play.google.com/music/listen#/sulp">Google music</a></h2>
              </li>
            </ul>
        </div>
  </div>

</div>


