<!-- Yep i'm not a super codingMindfulMan -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
    <a href="https://sourceforge.net/projects/sonata.berlios/" target="_blank">
      <img width="250" alt="a tribute for the real sonata player" src="../assets/MySonata_GM.png"></a>
      <figure>
          <figcaption>foo demo player</figcaption>
          <audio
              controls
              src="http://www.radiometal.com/player/index.php">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center">
          <h2 class="text-center " >Here are some usefull players you can try instead of my API :</h2>
            <ul>
              
          <h2><span class="fas fa-music"></span>&nbsp;<a target="_blank" rel="noopener" href="http://www.videolan.org/">VLC</a></h2>
              
          <h2><span class="fas fa-guitar"></span>&nbsp;<a target="_blank" rel="noopener" href="http://www.winamp.com/">Winamp</a></h2>
              
          <h2><span class="fas fa-drum"></span>&nbsp;<a target="_blank" rel="noopener" href="https://play.google.com/music/listen#/sulp">Google music</a></h2>

          <h2><span class="fas fa-cat"></span>&nbsp;<a target="_blank" rel="noopener" href="https://francevegetalienne.fr/blog/2017/5/25/jambon-vgtal-vegan">My favorite one just for you guys !</a></h2>
              
            </ul>
        </div>
  </div>

</div>


