<div class="container-fluid">
  <h1 class="text-center">
    Welcome My {{ title }}!
  </h1>

  <div class="text-center mt-3">
    <button type="button" class="btn btn-primary ajout" data-toggle="modal" data-target="#ajoutChan">
      Ajouté une chanson
    </button>
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let current of playlist" class="card col-2 mt-5 ml-2" style="width: 18rem;">
      <img src="{{current.img}}" class="card-img-top" alt="{{current.name}}">
      <div class="card-body">
        <h5 class="card-title">{{current.name}}</h5>
        <p class="card-text">{{current.artist}}</p>
        <p class="card-text">{{current.album}}</p>
        <button (click)="getUpdate(current.id)" class="btn btn-link" data-toggle="modal" data-target="#updateChan">Modifier<i
            class="fas fa-edit text-success col-sm-6 col-md-12"></i></button>
        <button data-toggle="modal" data-target="#supp" (click)="id(current)" class="btn btn-link">Supprimer<i class="fas fa-times-circle text-danger col-sm-6 col-md-12"></i></button>
      </div>
    </div>
  </div>
</div>


<!-- **********************  modals ******************* -->


<!-- ajout d'une chanson -->

<div class="modal fade" id="ajoutChan" tabindex="-1" role="dialog" aria-labelledby="creation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creation">Ajouté une chanson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Nom</label>
          <input [(ngModel)]="newChan.name" type="name" class="form-control" id="name" aria-describedby="name"
            placeholder="Nom" />
        </div>
        <!-- <div class="form-group">
          <label for="photo">Ajouter une Photo</label>
          <input (change)="onFileChange($event)" type="file" class="form-control-file" id="photo">
        </div> -->
        <div class="form-group">
          <label for="img">Url Image</label>
          <input [(ngModel)]="newChan.img" name="artist" id="img" class="form-control" placeholder="Url Image" />
        </div>
        <div class="form-group">
          <label for="artist">Artiste</label>
          <input [(ngModel)]="newChan.artist" name="artist" id="contenuArticle" class="form-control" placeholder="Artiste" />
        </div>
        <div class="form-group">
          <label for="album">album</label>
          <input [(ngModel)]="newChan.album" name="album" id="contenuArticle" class="form-control" placeholder="Album" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button (click)="create()" type="button" class="btn btn-primary" data-dismiss="modal" data-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>


<!-- modification d'une chanson -->

<div class="modal fade" id="updateChan" tabindex="-1" role="dialog" aria-labelledby="creation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creation">Ajouté une chanson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Nom</label>
          <input [(ngModel)]="updateChan.name" type="name" class="form-control" id="name" aria-describedby="name" value="{{playlistById.name}}" />
        </div>
        <!-- <div class="form-group">
          <label for="photo">Ajouter une Photo</label>
          <input (change)="onFileChange($event)" type="file" class="form-control-file" id="photo">
        </div> -->
        <div class="form-group">
          <label for="img">Url Image</label>
          <input [(ngModel)]="updateChan.img" name="artist" id="img" class="form-control" value="{{playlistById.img}}" />
        </div>
        <div class="form-group">
          <label for="artist">Artiste</label>
          <input [(ngModel)]="updateChan.artist" name="artist" id="contenuArticle" class="form-control" value="{{playlistById.artist}}" />
        </div>
        <div class="form-group">
          <label for="album">album</label>
          <input [(ngModel)]="updateChan.album" name="album" id="contenuArticle" class="form-control" value="{{playlistById.album}}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button (click)="putUpdate(updateChan, playlistById.id)" type="button" class="btn btn-primary" data-dismiss="modal"
          data-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- confirme suppression -->
<div class="modal fade" id="supp" tabindex="-1" role="dialog" aria-labelledby="supp" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="creation">
          Confirmation de suppression
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="far fa-trash-alt fa-7x"></i>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Annuler
        </button>
        <button (click)="delete(Id)" type="button" class="btn btn-primary" data-dismiss="modal">
          Je confirme la suppression

        </button>
      </div>
    </div>
  </div>
</div>
