@font-face {
  font-family: "MTV";
  src: url("/assets/fonts/musictelevisionselector.ttf") format("truetype");
 }

@font-face {
  font-family: "bebas";
  src: url("/assets/fonts/BEBAS.ttf") format("truetype");
 }

#app {
  background-color: rgb(34, 30, 30);
}