<div class="container">
	<div class="row">
		<div class="col-12">
			<a routerLink="/">
				<button class="btn btn-seconday">
					<i class="fas fa-caret-square-left"></i>
				</button>
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="card" style="width: 25rem;">
				<img class="card-img-top" [src]="currentSong.img" alt="song image">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Titre: {{ currentSong.name }}</li>
						<li class="list-group-item">Artist: {{ currentSong.artist }}</li>
						<li class="list-group-item">Album: {{ currentSong.album }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="col-12 text-center">
					<h6> Suprimer </h6>
					<a (click)="deleteSong(selectedSongId)" routerLink="/">
						<i class="fas fa-trash-alt"></i>
					</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 text-center mt-3">
				<h6>valider les Modifications </h6>
				<i (click)="updateSong(currentSong.name, currentSong.artist, currentSong.album, currentSong.img)"
				class="fas fa-edit"></i>
		</div>

		<div class="col-12">
			<div>
				<div class="form-group">
					<label for="exampleInputEmail1">titre</label>
					<input [(ngModel)]="currentSong.name" name="name" type="text" class="form-control" id="name">
				</div>
				<div class="form-group">
						<label for="exampleInputEmail1">artist</label>
						<input [(ngModel)]="currentSong.artist" name="artist" type="text" class="form-control" id="artist">
				</div>
				<div class="form-group">
						<label for="exampleInputEmail1">album</label>
						<input [(ngModel)]="currentSong.album" name="album" type="text" class="form-control" id="album" >
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">image</label>
						<input [(ngModel)]="currentSong.img" name="image" type="text" class="form-control" id="image" >
					</div>
			</div>
		</div>
	</div>
</div>